body,textarea{
scrollbar-face-color:#5080d0;
scrollbar-highlight-color:#ffffff;
scrollbar-3dlight-color:#305498;
scrollbar-darkshadow-color:#305498;
scrollbar-shadow-color:#ffffff;
scrollbar-arrow-color:#ffffff;
scrollbar-track-color:#225fc0}